{{#if tarefas}}
<main>
    <section class="tarefas">
        {{#each tarefas}}
        <div class="tarefa">

            <!-- Form para completar/descompletar -->
            <form action="{{#if this.completa}}/descompletar{{else}}/completar{{/if}}" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" style="all: unset; cursor: pointer;">
                <input type="checkbox" {{#if this.completa}}checked{{/if}} disabled>
                <label>{{this.descricao}}</label>
                </button>
            </form>

            <!-- Form para excluir -->
            <form action="/excluir" method="POST" style="display: inline;">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" style="background: none; border: none;">
                <img src="/imagens/x-icon.png" alt="icone de x">
                </button>
            </form>
        </div>
        {{/each}}
        <div class="informacoes">
            <p> {{quantidadeTarefasAtivas}} tarefas ativas</p>

            <div class="botoes">
                <a href="/" class="active">Todas</a>
                <a href="/ativas">Ativas</a>
                <a href="/completas">Completas</a>
            </div>

            <a href="/limparTarefas">Limpar tarefas</a>
        </div>
    </section>
    <section class="botoes">
        <a href="/" class="active">Todas</a>
        <a href="/ativas">Ativas</a>
        <a href="/completas">Completas</a>
    </section>
</main>
{{/if}}